.footer {
    color: #545454;
}

.footer__copyright {
    margin: 67px 0 60px;
    font-family: "Inter", Times New Roman, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

@media screen and (max-width: 879px) {
    .footer {
        max-width: 582px;
        margin: 67px auto 60px;
    }

    .footer__copyright {
        margin: 0 auto 0 0;
    }
}

@media screen and (max-width: 580px) {
    
    .footer {
        max-width: 282px;
        margin: 48px auto 36px;
        display: flex;
        justify-content: flex start;
    }

    .footer__copyright {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
}