.header {
    border-bottom: 1px solid RGBA(84, 84, 84, .7);
}

.header__logo {
    margin: 45px 0 41px;
    height: 33px;
    width: 173px;
}

@media screen and (max-width: 879px) {

    .header {
        width: calc(100% - 40px);
    } 
}

@media screen and (max-width: 580px) {

    .header {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .header__logo {
        margin: 28px auto 32px 27px;
        height: 24px;
        width: 126px;
    }
}