.profile {
    margin: 37px auto 47px;
    display: flex;
}

.profile__image {
    height: 120px;
    width: 120px;
    border-radius: 90%;
    margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas: 
    "title button"
    "description descritpion";
  margin: 0;
}

.profile__name {
    font-family: "Inter";
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
    align-self: center;
}

.profile__edit-button {
    background: transparent url(../images/edit-icon.png) center no-repeat;
    height: 24px;
    width: 24px;
    align-self: center;
    margin: auto 18px;
    grid-area: button;
    border: 1px solid white;
    transition: opacity .7s ease-out;
}

.profile__description {
    font-family: "Inter";
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    grid-area: description;
    margin: 0;
    
}

.profile__add-button {
    margin-left: auto;
    background: transparent url(../images/add-icon.svg) center no-repeat;
    width: 150px;
    height: 50px;
    align-self: center;
    border: 1px solid white;
    transition: opacity .7s ease-out;
}

.profile__button:hover {
    opacity: .6;
}

@media screen and (max-width: 879px) {
    .profile {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 580px) {
    .profile {
        flex-direction: column;
        justify-content: center;
     }

    .profile__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 282px;
        margin: 0 auto;
    }

    .profile__name {
        font-size: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 10px 0 20px;
    }

    .profile__description {
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin-bottom: 36px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .profile__add-button {
        margin: 0;
        width: 282px;
    }

    .profile__image {
        margin: 0 auto 26px;
    }

    profile__title {
        margin-bottom: 14px;
    }
    .profile__edit-button {
        height: 18px;
        width: 18px;
        margin: auto 0;
    }
}